services:

  traefik:
    image: traefik:v2.10
    container_name: traefik
    restart: always
    environment:
      - DOCKER_API_VERSION=1.53
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"

      # EntryPoints
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"

      # Redirect HTTP -> HTTPS
      - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
      - "--entrypoints.web.http.redirections.entrypoint.scheme=https"

      # Let's Encrypt
      - "--certificatesresolvers.myresolver.acme.tlschallenge=true"
      - "--certificatesresolvers.myresolver.acme.email=prasetyacode@gmail.com"
      - "--certificatesresolvers.myresolver.acme.storage=/letsencrypt/acme.json"

      # (Optional) Log level debug jika mau troubleshooting
      # - "--log.level=DEBUG"

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "./traefik/letsencrypt:/letsencrypt"

    networks:
      - web

  flask:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: flask_app
    restart: always
    expose:
      - "5000"

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.flask.rule=Host(`prasetyacode.com`)"
      - "traefik.http.routers.flask.entrypoints=websecure"
      - "traefik.http.routers.flask.tls.certresolver=myresolver"
      - "traefik.http.services.flask.loadbalancer.server.port=5000"

    depends_on:
      - redis

    networks:
      - web
      - internal

  redis:
    image: redis:7
    container_name: redis
    restart: always
    networks:
      - internal

  squid:
    image: ubuntu/squid
    container_name: squid
    restart: always
    volumes:
      - ./squid/squid.conf:/etc/squid/squid.conf
    ports:
      - "3128:3128"
    networks:
      - internal

networks:
  web:
  internal:
